{{# partial "titulo" }}
    <title>GESOC - Nueva Compra</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
        <a href="/">Inicio</a>
        <a class="active" href="/compras/menu">Compras</a>
        <a href="/entidades">Entidades</a>
        <a href="/mensajes">Bandeja de Entrada</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
	<section>
        <button class="botonAtras" style="width: 16%;" onclick="location.href='/compras/menu'">Volver a menú de compras</button>
		<form id="filtro_etiquetas" action="/compras" method="GET">
		
		<label> Etiquetas </label>
		<select name="etiqueta">
			{{#etiquetas}}
				<option value={{this}}>{{this}} </option>
			{{/etiquetas}}
		</select>
		<input type = submit value="Filtrar"> 
		</form>
		<div id="compras">
			<ul>
				<hr>
				{{#compras}}
					<li>
						<h3> Compra #{{id}} </h3>
						<strong> Estado: </strong> {{estadoDeAprobacion}} <br>
						<strong> Fecha: </strong> {{fecha}} <br>
						<strong> Precio Total: </strong> ${{precio}} <br>
						<strong> Moneda: </strong> {{moneda}} <br>
						<strong> Medio de Pago: </strong> {{medioDePago}} <br>
						<strong> Etiquetas: </strong> {{modeloEtiquetas}} <br>
					</li>
					
					<div class="align-right">
							<a href="/compras/{{id}}"><button class="botonAtras">Ver</button></a>
					</div>
					<hr>
				{{/compras}}
			</ul>
		</div>
	</section>
{{/partial}}

{{> layout.html.hbs }}