{{# partial "titulo" }}
    <title>GESOC - Nueva Compra</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
        <a href="/">Inicio</a>
        <a class="active" href="/compras/menu">Compras</a>
        <a href="/entidades">Entidades</a>
        <a href="/mensajes">Bandeja de Entrada</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
	<section>
        <button class="botonAtras" style="width: 16%;" onclick="location.href='/compras/menu'">Volver a menú de compras</button>
		<div id="compras">
			<ul>
				<hr>
				{{#compras}}
					<li>
						<strong> ID Compra: </strong> {{id}} <br>
						<strong> Fecha: </strong> {{fecha}} <br>
						<strong> Precio Total: </strong> {{precio}} <br>
						<strong> Moneda: </strong> {{moneda}} <br>
						<strong> Medio de Pago: </strong> {{medioDePago}} <br>
						<div class="align-right">
							<a href="/compras/{{id}}"><button class="botonAtras">Ver</button></a>
						</div>
					</li>
					<hr>
				{{/compras}}
			</ul>
		</div>
	</section>
{{/partial}}

{{> layout.html.hbs }}