{{# partial "titulo" }}
    <title>GESOC - Nueva Compra</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
        <a href="/">Inicio</a>
        <a class="active" href="/compras">Compras</a>
        <a href="/entidades">Entidades</a>
        <a href="/mensajes">Mensajes</a>
        <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>
        <script type="text/javascript" src="/js/compras-nueva.js"></script>
        <button class="botonAtras" style="width: 16%;" onclick="location.href='/compras'">Volver a menú de compras
        </button>
        <div id="compras">
            <ul>
                <hr size="1px" color="black"/>
                <li>
                    Fecha: {{fecha}} <br>
                    Precio Total: {{precio}} <br>
                    Moneda: {{moneda}} <br>
                    Medio de Pago: {{medioDePago}} <br>
                    Items:
                    <ul>
                        {{#items}}
                            <li>
                                Descripción: {{descripcion}} <br>
                                Cantidad: {{cantidad}} <br>
                                Valor Unitario: {{valorUnitario}}
                            </li>
                        {{/items}}
                    </ul>
                    <br>
                    Etiquetas: {{etiquetas}}
                </li>
                <hr size="1px" color="black"/>
            </ul>
        </div>

        <br>

        <div id="nuevas-etiquetas">
            <form id="frm_etiquetas" action="/compras/{{id}}/etiqueta/nueva" method="POST">
                <h4> Agregar Etiquetas </h4>
                <div id="div_compra_etiquetas">
                    <table id="tbl_etiquetas">
                        <thead>
                        <tr>
                            <th> Etiquetas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input name="txt_etiqueta_1" type="text" required>
                                <input id="cantidad_etiquetas" name="cantidad_etiquetas" type="hidden" value="1">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <button id="btn_agregar_etiquetas" onclick="agregarEtiqueta()">Agregar</button>
            <button id="btn_eliminar_etiquetas" onclick="eliminarEtiqueta()">Eliminar</button>
            <input type="submit" value="Finalizar y Guardar" class="botonSameTamanio" form="frm_etiquetas">
        </div>
    </section>
{{/partial}}

{{> layout.html.hbs }}