{{# partial "titulo" }}
    <title>GeSoc - Entidades por categoría</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras/menu">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Bandeja de Entrada</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" onclick="location.href='/categorias'">Atras</button>

        {{#categoria}}
            <h2>Categoría elegida: {{nombre}}</h2>
        {{/categoria}}

        {{#if entidades}}
            <h3>Entidades asociadas:</h3>

            <table class="tablaEntidades" style="width: 70%; margin: auto;">
                <tr>
                    <th>Nombre ficticio</th>
                    <th>Información</th>
                </tr>
                    {{#entidades}}
                    <tr>
                        <td><a>{{nombreFicticio}}</a></td>
                        <td>
                            {{#if razonSocial}}
                                <a>Razón social: {{razonSocial}}</a><br>
                                <a>CUIT: {{cuit}}</a><br>
                                <a>Código IGJ: {{codigoIGJ}}</a>
                            {{else}}
                                <a>Descripción: {{descripcion}}</a>
                            {{/if}}
                        </td>
                    {{/entidades}}
                </tr>

            </table>
        {{else}}
            <h3 style="text-align: center;">No hay entidades asociadas a esta categoría</h3>
        {{/if}}

    </section>
{{/partial}}

{{> layout.html.hbs }}
