{{# partial "titulo" }}
    <title>GeSoc - Crear organización del sector social</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Mensajes</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" onclick="location.href='/entidades/nueva'">Atras</button>


        <h2>Crear organización del sector social</h2>

        <form id = "frm_crear_entidad_org-social" action="/entidades" method="POST">
            <ul class="crear_entidad">
                <input type="hidden" name="tipoEntidad" value='S'>

                <li><label class="label">Nombre ficticio<span class="required">*</span></label>
                <input type="text" name="nombreFicticio" placeholder="Ingrese nombre ficticio" required></li>

                <li><label class="label">Razon social<span class="required">*</span></label>
                <input type="text" name="razonSocial" placeholder="Ingrese razón social" required></li>

                <li><label class="label">CUIT<span class="required">*</span></label>
                <input type="number" name="cuit" placeholder="Ingrese CUIT" min="10000000000" max="99999999999" required></li>

                <li><label class="label">Codigo IGJ<span class="required">*</span></label>
                <input type="number" name="igj" placeholder="Ingrese código IGJ" required></li>

                <li><label class="label">Dirección postal</label>
                    <div>
                        <ul class="crear_entidad">
                            <li><label class="label">Calle<span class="required">*</span></label>
                            <input type="text" name="calle" placeholder="Ingrese calle" required></li>
                            <li><label class="label">Altura<span class="required">*</span></label>
                            <input type="number" name="altura" placeholder="Ingrese altura" min="1" required></li>
                            <li><label class="label">Piso</label>
                            <input type="number" name="piso" placeholder="-" min="0" value="0"></li>
                            <li><label class="label">Código postal<span class="required">*</span></label>
                            <input type="text" name="codigoPostal" placeholder="Ingrese código postal" required></li>

                            <li><label class="label">País<span class="required">*</span></label>
                            <select name="pais" class="field-select" required>
                                {{#paises}}
                                    <option value={{this}}>{{this}}</option>
                                {{/paises}}
                            </select>
                        </ul>
                    </div>
                </li>

                <li>
                    <label class="label">Categorías a asociar:</label>
                    {{#categorias}}
                        <input type="checkbox" name="categoriasId{{id}}" id={{id}} value={{id}}>
                        <label for={{id}}>{{nombre}}</label><br>
                    {{/categorias}}
                </li>

                {{#entidadesBaseNotEmpty}}
                    <li>
                        <label class="label">Entidades base a asociar:</label>
                        {{#entidadesBase}}
                            <input type="checkbox" name="entidadesBaseId{{id}}" id={{id}} value={{id}}>
                            <label for={{id}}>{{nombreFicticio}}</label><br>
                        {{/entidadesBase}}
                    </li>
                {{/entidadesBaseNotEmpty}}
            </ul>
        </form>

        <button id="btn_crear_entidad_org-social" type="submit" form="frm_crear_entidad_org-social"
            class="botonSameTamanio botonPequenioIzquierda">Guardar entidad</button>

    </section>
{{/partial}}

{{> layout.html.hbs }}
