{{# partial "titulo" }}
    <title>GeSoc - Crear organización del sector social</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Bandeja de Entrada</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" onclick="location.href='/entidades/nueva'">Atras</button>


        <h2>Crear organización del sector social</h2>
        <div class="divcategoriasSeparacion" style="color: black; width: 60%;">
            <form id = "frm_crear_entidad_org-social" style="font-size:large; margin-bottom: -10px;" action="/entidades" method="POST">
                <table class="tablaCreacionEntidades">
                <tr>
                    <td>
                        <ul class="crear_entidad">
                            <input type="hidden" name="tipoEntidad" value='S'>

                            <li><label class="label">Nombre ficticio<span class="required">*</span></label>
                            <input type="text" name="nombreFicticio" style="font-size: large;" placeholder="Ingrese nombre ficticio" required></li>

                            <li><label class="label">Razon social<span class="required">*</span></label>
                            <input type="text" name="razonSocial" style="font-size: large;" placeholder="Ingrese razón social" required></li>

                            <li><label class="label">CUIT<span class="required">*</span></label>
                            <input type="number" name="cuit" style="font-size: large;" placeholder="Ingrese CUIT" min="10000000000" max="99999999999" required></li>

                            <li><label class="label">Codigo IGJ<span class="required">*</span></label>
                            <input type="number" name="igj" style="font-size: large;" placeholder="Ingrese código IGJ" required></li>
                        </ul>
                    </td>

                    <td>
                        <ul class="crear_entidad">
                            <li><label class="label">Calle<span class="required">*</span></label>
                            <input type="text" name="calle" style="font-size: large;" placeholder="Ingrese calle" required></li>
                            <li><label class="label">Altura<span class="required">*</span></label>
                            <input type="number" name="altura" style="font-size: large;" placeholder="Ingrese altura" min="1" required></li>
                            <li><label class="label">Piso</label>
                            <input type="number" name="piso" style="font-size: large;" placeholder="-" min="0" value="0"></li>
                            <li><label class="label">Código postal<span class="required">*</span></label>
                            <input type="text" name="codigoPostal" style="font-size: large;" placeholder="Ingrese código postal" required></li>

                            <li><label class="label">País<span class="required">*</span></label>
                            <select name="pais" class="field-select" required>
                                {{#paises}}
                                    <option value={{this}}>{{this}}</option>
                                {{/paises}}
                            </select>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="crear_entidad">
                            <li>
                                <label class="label">Categorías a asociar</label>
                                {{#categorias}}
                                    <input type="checkbox" name="categoriasId{{id}}" id={{id}} value={{id}}>
                                    <label for={{id}}>{{nombre}}</label><br>
                                {{/categorias}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="crear_entidad">
                            <li>
                                {{#entidadesBaseNotEmpty}}
                                    <label class="label">Entidades base a asociar:</label>
                                    {{#entidadesBase}}
                                        <input type="checkbox" name="entidadesBaseId{{id}}" id={{id}} value={{id}}>
                                        <label for={{id}}>{{nombreFicticio}}</label><br>
                                    {{/entidadesBase}}
                                {{/entidadesBaseNotEmpty}}
                            </li>
                        </ul>
                    </td>
                </tr>

                </table>


            </form>

            <button id="btn_crear_entidad_org-social" type="submit" form="frm_crear_entidad_org-social"
                class="botonSameTamanio botonGuardarEntidad">Guardar entidad</button>
        </div>

    </section>
{{/partial}}

{{> layout.html.hbs }}
