{{# partial "titulo" }}
    <title>GeSoc - Asociar categorias</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Mensajes</a>
      <a href="/logout">Salir</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" onclick="location.href='/entidades'">Atras</button>

        <h2>Elija la entidad a la que desea asociar categorías</h2>

        <div style="margin: auto; width: 70%; font-size: large;">
            <form action="/entidades/asociar-categoria" style="text-align: right;" method="GET">
                <input type="text" name="filtro" placeholder="Nombre de entidad">
                <input type="submit" value="Buscar">
            </form>

            <table class="tablaEntidades">
                <tr>
                    <th>Nombre ficticio</th>
                    <th>Información</th>
                </tr>
                {{#entidades}}
                <tr>
                    <td><a href="/entidades/{{id}}/categorias">{{nombreFicticio}}</a><br></td>
                    <td>
                        {{#if razonSocial}}
                            <a>Razón social: {{razonSocial}}</a><br>
                            <a>CUIT: {{cuit}}</a><br>
                            <a>Código IGJ: {{codigoIGJ}}</a>
                        {{else}}
                            <a>Descripción: {{descripcion}}</a>
                        {{/if}}
                    </td>
                </tr>
                {{/entidades}}
            </table>
        </div>
    </section>

{{/partial}}

{{> layout.html.hbs }}
