{{# partial "titulo" }}
    <title>GeSoc - Entidades por categoría</title>
{{/partial}}

{{# partial "nav"}}
    <div class="topnav">
      <a href="/">Inicio</a>
      <a href="/compras">Compras</a>
      <a class="active" href="/entidades">Entidades</a>
      <a href="/mensajes">Mensajes</a>
    </div>
{{/partial}}

{{# partial "contenido" }}
    <section>

        <button class="botonAtras" onclick="location.href='/entidades/asociarCategoria'">Atras</button>

        {{#mensajeAccion}}
            <h2 style="text-align:center;">{{mensajeAccion}}</h1>
        {{/mensajeAccion}}

        {{#entidad}}
        <h2>Entidad elegida: {{nombreFicticio}}</h2>
        {{/entidad}}

        {{#idEntidad}}

            <h3>Categorías sin asociar:</h3>
            <ul>
                {{#categoriasSinAsociar}}
                    <li>
                        <span>{{nombre}}</span>
                        <form action="/entidades/{{idEntidad}}/agregarCategoria/{{id}}" method="post">
                            <input type="submit" value="Asociar">
                        </form>
                    </li>
                {{/categoriasSinAsociar}}
            </ul>

            <h3>Categorías asociadas:</h3>
            <ul>
                {{#categoriasAsociadas}}
                    <li>
                        <span>{{nombre}}</span>
                         <form action="/entidades/{{idEntidad}}/eliminarCategoria/{{id}}" method="post">
                            <input type="submit" value="Desasociar">
                        </form>
                    </li>
                {{/categoriasAsociadas}}
            </ul>

        {{/idEntidad}}

    </section>
{{/partial}}

{{> layout.html.hbs }}
